* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  background-color: rgba(239, 236, 234, 0.94);
}

/* ------HEADER SECTION------ */

.header {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.avatar {
  max-width: 5rem;
  cursor: pointer;
}

.name {
  width: 100%;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  background-color: black;
  color: orange;
  cursor: pointer;
}

.container {
  flex: 1;
}

.right {
  flex: 1;
  margin-right: 15px;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.new-proj.btn,
.new-task.btn {
  color: darkgrey;
  background-color: lightgrey;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

.new-proj.btn.active,
.new-task.btn.active {
  color: white;
  background-color: black;
  cursor: pointer;
}

.search-form {
  display: flex;
  gap: 1rem;
}

.new-proj.btn,
.new-task.btn,
label,
#filter,
.clear {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

label,
#filter {
  font-family: Arial, Helvetica, sans-serif;
}

#filter {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.clear {
  border-style: solid;
  border-color: black;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  cursor: pointer;
}

/* ------CONTAINER SECTION------ */

.container {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
  align-items: start;
  justify-content: start;
}

.blank-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.input-form {
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  position: absolute;
  width: 50%;
  border-radius: 15px;
  top: 15%;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  display: none;
  z-index: 10;
}

.input-form.active {
  display: flex;
}

.form-close {
  padding: 10px;
  width: 2.2rem;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-weight: 800;
  position: relative;
  top: -1.5rem;
  left: -52%;
  cursor: pointer;
}

.form-element {
  width: 80%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-btn {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.project {
  padding: 15px;
  min-height: 350px;
  min-width: 250px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.proj-delete,
.proj-name,
.proj-description,
.proj-content {
  position: relative;
  top: -1.5rem;
}

.proj-delete {
  padding: 5px 8px;
  background-color: black;
  color: white;
  border-radius: 50%;
  left: -55%;
  cursor: pointer;
}

.proj-name {
  position: relative;
  top: -1.5rem;
  padding: 5px 10px;
  width: 100%;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.proj-description {
  padding: 5px 10px;
  width: 100%;
  font-size: 0.75rem;
}

.proj-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.task {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  border-style: solid;
  border-color: orange;
  border-width: 1px;
  border-radius: 5px;
  background-color: orange;
}

.task-delete {
  padding: 3px 7px;
  background-color: black;
  color: white;
  border-radius: 50%;
  left: -8%;
  cursor: pointer;
}

.task-delete,
.task-name,
.task-description,
.task-date,
.task-project,
.task-complete {
  position: relative;
  top: -0.6rem;
}

.task-name {
  width: 100%;
  color: orange;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
}

.task-description,
.task-date,
.task-project {
  width: 100%;
  padding: 5px 10px;
  font-size: 0.75rem;
}

.task-date::before {
  content: 'Due: ';
  font-weight: 800;
}

.task-project::before {
  content: 'Project: ';
  font-weight: 800;
}

.task-complete {
  margin: 5px 10px;
  width: 100%;
  align-self: start;
}

.task-complete::before {
  content: 'Status: ';
  font-weight: 800;
}

/* ------FOOTER SECTION------ */

.footer {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: orange;
}
